.main{
    max-width: 50vw;
    width: 50vw;
    max-height: 100vw;
    height: 100vw;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
  
}

.text-upper{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
}
.center{
    background-color: white;
    display: flex;
    flex-direction: row;  
   justify-content: space-between;
}
.center-left{
    color: black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  font-size: 18px;
}
.center-right{ 
   height: 400px;
   float:right ;
}
.Last-upper{
    display: flex;
    margin-left: -240px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;  
}
.Last{
    margin-top: 50px;
}
.Last-lower{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;  
}
hr.line{
    border-top: 1px solid #353839;
 margin-top: 70px;
 margin-bottom: 70px;
    max-width: 70%;
}
.last-line{
   
    display: flex;
    flex-direction: row;  
   justify-content: center;
}